﻿@model EventManager.ViewModels.EventViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 style="color:brown; text-align:center">Are you sure you want to delete this event?</h3>
<div class="row">
    @using (Html.BeginForm("Delete", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => Model.Id)
    }

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-2 col-md-offset-5">
            <div class="row justify-content-center">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-warning" href="../List" role="button">Go back</a>
            </div>
        </div>
    }
</div>
