﻿﻿@model EventManager.ViewModels.EventViewModel

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Event Details</h2>
<div>
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <td>
                    @Html.LabelFor(x => Model.Id)
                </td>
                <td>
                    @Html.LabelFor(x => Model.Name)
                </td>
                <td>
                    @Html.LabelFor(x => Model.Location)
                </td>
                <td>
                    @Html.LabelFor(x => Model.StartDate)
                </td>
                <td>
                    @Html.LabelFor(x => Model.EndDate)
                </td>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(x => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Name)
            </td>
            <td>
                @Html.DisplayFor(x => Model.Location)
            </td>
            <td>
                @Html.DisplayFor(x => Model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(x => Model.EndDate)
            </td>
        </tr>
    </table>
</div>
<div>
    <a class="btn btn-info" href="../List" role="button">Go back</a>
</div>