﻿
@model List<EventManager.ViewModels.EventViewModel>
@{
    ViewBag.Title = "List of events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Current Events</h2>
<div>
    <table class="table table-striped text-center">
        @foreach (var item in Model)
        {
            <thead>
                <tr>
                    <td style="font-weight:bold">
                        №
                    </td>
                    <td>
                        @Html.LabelFor(x => item.Name)
                    </td>
                    <td>
                        @Html.LabelFor(x => item.Location)
                    </td>
                    <td>
                        @Html.LabelFor(x => item.StartDate)
                    </td>
                    <td>
                        @Html.LabelFor(x => item.EndDate)
                    </td>
                    <td style="font-weight:bold">
                        Actions
                    </td>
                </tr>
            </thead>
            break;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(x => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(x => item.EndDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
</div>
<div>
    <a class="btn btn-primary" href="../Events/Create" role="button">Create new event</a>
</div>
