﻿@{
    ViewBag.Title = "About";
}
<p>
    <strong>Assignment:</strong><br />
    Application for managing events.<br />
    The following information is stored for each event: name, location, start date and time, end date and time (all are required).<br />
    The application should allow you to read all events, create a new event, update an existing event and delete it.
</p>
