﻿@{
    ViewBag.Title = "Contacts";
}
<address>
    <abbr title="Phone">Phone number:</abbr>
    +359 883 404 783
</address>
<address>
    <strong>Email:</strong>   <a href="mailto:borislava.yordanova8@gmail.com">borislava.yordanova8@gmail.com</a><br />
</address>