﻿@{
    ViewBag.Title = "Home Page";
}
<img src="http://prikachi.com/images/595/9270595l.png" height="195" width="800">
<div class="jumbotron">
    <p class="lead">
        The information you will find for each event is: the name, the location, the start date and end date time.<br />
        The application should allow you to read all events, create a new event, to update an existing event and to delete it.
    </p>
    <p><a href="https://edu.protal.biz/mod/assign/view.php?id=123" class="btn btn-primary btn-lg">See more &raquo;</a></p>
</div>
